$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Source Serif Pro",Garamond,serif;
$bodySize: 15pt;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodySize;
}
